PYTHON_ENV=""
LOG_LEVEL="DEBUG"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET="" 
GOOGLE_APPLICATION_CREDENTIALS=""
GOOGLE_DRIVE_FOLDER_ID=""
GOOGLE_CREDENTIALS_PATH=""
GOOGLE_TOKEN_PATH=""
QDRANT_URL=""
QDRANT_API_KEY=""
QDRANT_COLLECTION_NAME=""
OPENAI_API_KEY=""
